body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: url('http://crystalclearmaths.com/wp-content/uploads/2015/12/Mathematical-Symbols.jpg') no-repeat center center fixed;
    background-size: cover; */
    background-color: black;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  canvas {
    border: 2px solid #333;
    background-color: white;
    cursor: crosshair;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: block;
    margin: 0 auto;
  }
  
  .dropdown-container {
    margin-top: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: #ffd700; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #daa520; 
  }
  
  label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: #ffd700;
  }
  
  .output-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px; 
    width: 90%;
    border: 2px solid #333;
    background-color: #c8bfbf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .help-table table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .help-table th, .help-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .help-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  